/* ==== ESTILO GENERAL ==== */
body {
    font-family: Arial, sans-serif;
    background: #e1f0ff; /* Azul MUY claro */
    margin: 0;
    padding: 0;
}

/* ==== ENCABEZADO ==== */
header {
    background: linear-gradient(90deg, #003f8a, #005bb5);
    color: white;
    padding: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
}

/* ==== MENÚ SUPERIOR ==== */
.menu-superior {
    background: #0277bd;
    padding: 12px;
    text-align: center;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.menu-superior a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 15px;
}

.menu-superior a:hover {
    background: #015c8b;
    border-radius: 5px;
}

/* ==== PANEL & CARDS ==== */
.panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    gap: 25px;
}

.card {
    background: white;
    border-radius: 15px;
    width: 250px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card h2 {
    margin-top: 0;
}

.card:hover {
    transform: translateY(-7px);
    background: #0277bd;
    color: white;
}

/* ==== BOTONES ==== */
.btn {
    display: inline-block;
    background: #004c8c;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 15px;
    transition: 0.2s;
}

.btn:hover {
    background: #002f5e;
}

/* ==== TABLAS ==== */
table {
    width: 90%;
    margin: auto;
    margin-top: 25px;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

th {
    background: #005cb2;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

tr:hover {
    background: #e3f2fd;
}

/* ==== FORMULARIOS ==== */
form {
    width: 420px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    margin-top: 35px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

form input, form select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #80bfff;
}

form button {
    background: #0277bd;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

form button:hover {
    background: #015c8b;
}

/* ==== FLECHA VOLVER ==== */
.back {
    display: inline-block;
    margin: 20px;
    color: #004c8c;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}

.back:hover {
    color: #002f5e;
}
/* ==== PIE DE PÁGINA ==== */
footer {
    background: #003f8a;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -3px 8px rgba(0,0,0,0.3);
}       